<ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
    <li role="presentation" ng-class="{ 'active' : vm.CurrentState == 'step1', 'actived': vm.CurrentState == 'step2' || vm.CurrentState == 'step3' || vm.CurrentState == 'step4'}">
        <a href="/new/step1" aria-controls="discover" role="tab" data-toggle="tab"><i class="fa fa-credit-card" aria-hidden="true"></i>
            <p>Select Payment </p>
        </a>
    </li>
    <li role="presentation" ng-class="{ 'active' : vm.CurrentState == 'step2', 'actived': vm.CurrentState == 'step3' || vm.CurrentState == 'step4' }">
        <a href="/new/step2" aria-controls="strategy" role="tab" data-toggle="tab"><i
                class="fa fa-heart" aria-hidden="true"></i>
            <p>Select Charity</p>
        </a>
    </li>
    <li role="presentation" ng-class="{ 'active' : vm.CurrentState == 'step3', 'actived': vm.CurrentState == 'step4'}">
        <a href="/new/step3" aria-controls="optimization" role="tab" data-toggle="tab"><i
                class="fa fa-check-square" aria-hidden="true"></i>
            <p>Confirm</p>
        </a>
    </li>
    <li role="presentation" ng-class="{ 'active' : vm.CurrentState == 'step4'}">
        <a href="/new/step4" aria-controls="content" role="tab" data-toggle="tab"><i
                class="fa fa-thumbs-up" aria-hidden="true"></i>
            <p>Thank You</p>
        </a>
    </li>
</ul>