<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Donations</title>
</head>
<body>
    <nav-bar></nav-bar>

    <section class="jumbotron text-center bg-blue">
        <div class="container">
            <h2 class="jumbotron-heading">Donations</h2>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#!/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Donations</li>
                    </ol>
                </nav>
            </div> 
        </div>

        <div class="row">
            <button class="btn btn-success mb-3 btn-sm ml-3" type="button" data-toggle="modal" data-target="#NewDonation">
                <i class="fa fa-plus"></i> New Donation
            </button>

            <div class="col-md-12 text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Campaign</th>
                            <th scope="col">Pledge</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Total</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>   
        </div>

    </div>

</body>
</html>