<div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Payment Detail
                    </button>
                </h5>
            </div>
    
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="row">
                                 <div class="col-md-4"><strong>Status</strong></div>
                                <div class="col-md-6">Pending</div>
                            </div> 
                        </div>
                        
                        <div class="col-md-12  mb-3">
                            <div class="row">
                                 <div class="col-md-4"><strong>Payment Type</strong></div>
                                <div class="col-md-6">Monthly English 72001 - Credit Card Label</div>
                            </div> 
                        </div>
                        <div class="col-md-12  mb-3">
                            <div class="row">
                                 <div class="col-md-4"><strong>Pledge</strong></div>
                                <div class="col-md-6">$50</div>
                            </div> 
                        </div>
                        <div class="col-md-12  mb-3">
                            <div class="row">
                                 <div class="col-md-4"><strong>Payment Detail</strong></div>
                                <div class="col-md-6">Billed on 01/19/2017</div>
                            </div> 
                        </div>
                        <div class="col-md-12  mb-3">
                                <div class="row">
                                     <div class="col-md-4"><strong>Total Annual Amount</strong></div>
                                    <div class="col-md-6">$ 50</div>
                                </div> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Charity Detail
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <strong>$50 United Way of Metropolitan Dallas Inc.</strong>
                </div>
            </div>
        </div> 
    </div>