<nav-bar></nav-bar>

<section class="jumbotron text-center bg-blue">
    <div class="container">
        <h2 class="jumbotron-heading">Donations</h2>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a ui-sref="listDonation">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">All Donations</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-success mb-3 btn-sm ml-3" type="button" ui-sref="newDonation.step1">
            <i class="fa fa-plus"></i> New Donation
        </button>

        <div class="col-md-12 text-center">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Date</th>
                            <th scope="col">Campaign</th>
                            <th scope="col">Pledge</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Total</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Donation in vm.DonationsList">
                            <td>
                                <div class="btn-group mb-2" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                                            <i class="fa fa-wrench"></i> Actions  <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <button ng-click="vm.GetDetail(Donation)" class="dropdown-item">Detail</button> 
                                    </div>
                                </div> 
                            </td>
                            <td>{{ Donation.DateLastUpdated | date: 'M/d/yyyy' }}</td>
                            <td>{{ Donation.CampaignName }}</td>
                            <td>{{ Donation.TransactionNumber }}</td>
                            <td>{{ vm.GetPaymentLabel(Donation.PaymentType) }}</td>
                            <td>{{ Donation.TotalValue | currency }}</td> 
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>  
</div>